body /* Everything on the page */
{
  color: whitesmoke;
  font: 16px sans-serif;
  shape-rendering: crispEdges;
  background-color: black;
}

main
{
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

svg
{
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.origin {
  color: steelblue;
  stroke: steelblue;
  stroke-width: 4px;
}

.dest {
  color: crimson;
  stroke: crimson;
  stroke-width: 4px;
}

.rule {
  stroke: lightblue;
  stroke-width: 2px;
}

text {
  fill: whitesmoke;
  font: 10px sans-serif;
  text-anchor: start;
}

text.stationCode {
  font: 18px sans-serif;
  text-anchor: end;
}

.day /* The day boxes on the heat calendar */
{
  fill: none;
  stroke: darkblue;
}

.month /* The lines that boarder the months on the heat calendar */
{
  fill: none;
  stroke: blue;
  stroke-width: 2px;
}

/* The chord chart */

#circle circle 
{
  fill: lightgray;
  pointer-events: all;
}

.group path 
{
  fill-opacity: .5;
}

path.chord {
  stroke: #000;
  stroke-width: .25px;
}

#circle:hover path.fade 
{
  display: none;
}

.map-outline
{
  stroke: blue;
  stroke-width: 2px;
}

.map-borders
{
  stroke: darkblue;
  stroke-width: 2px;
  stroke-dasharray: 2,2;
  stroke-linejoin: round;
}

.station-dot
{
  /* fill: blue; */
  opacity: 0.75;
  stroke: whitesmoke;
}

.route-path
{
  stroke: lightblue;
  stroke-width: 1px;
  stroke-dasharray: 2,2,1,2;
}